jenkins_home/
jenkins_home.backup.*

# repo metadata
.git/
.github/

# Kubernetes manifests we don't want in docker context
kubernetes/

# Typical node/npm ignore
node_modules

# Docs and logs we don't want in image build context
*.md
*.log
